{% load static %}

<div class="overlayCookie" id="cookie1">
    <div class="cookiesms shadow-lg">
        <h5>Ley de Cookies  Europea</h5>
        <p class="mb-0">
            Utilizamos Cookies propias y de terceros para elaborar información estadística
            y mostrarle contenido personalizado a través del análisis de su navegación que
            compartimos con nuestros partners. Si continuas navegando aceptas nuestros
            <a href="{% url 'terminos' %}">terminos y condiciones</a>
        </p>
        <div onclick="controlcookies()" class="btn btn-primary btn-sm float-right mt-3 shadowHover shadow-sm">Aceptar</div>
    </div>
</div>