{% extends "public/base.html" %}
{% load static %}

{% block title %}
    {% if ciudad and nombre %} 
        Buscar {{nombre}} en {{ciudad}} 
    {% elif not ciudad and nombre %}
        Buscar {{nombre}}
    {% elif  ciudad and not nombre %}
        Buscar en {{ciudad}}
    {% else %}
        Deberías poner algún término de busqueda
    {% endif %}
{% endblock %}


{% block content %}
<style>
    body{
        background-color: #f4f7f8
    }
</style> 
   	<div style="width: 100%; margin-top: 70px">
		<div class="contenedor pb-5">
			<div class="row m-0">
                <div class="col-12 p-md-3 p-2 mt-md-4 mt-0">
                    <div class="w-100 float-left p-2 py-md-4 px-md-5 bg-white shadow-sm divBuscador">
                        <form action="{% url 'buscar' %}">
                            <input value="{{nombre}}" type="text" name='n' class="formularioContacto busquedaMotorCampo" placeholder="Nombre">
                            <input value="{{ciudad}}" type="text" name='c' class="formularioContacto busquedaMotorCampo" placeholder="Ciudad">
                            <button class="btn-primary btn float-right px-md-5 py-md-3 px-3 py-2 botonBuscar" type="submit"><span class="icon-search"></span></button>
                        </form>
                    </div>
                </div>

                {% for restaurante in restaurantes %}
                    <div class="col-md-4 p-3">
                        <a href="{% url 'local' restaurante.user.username %}" class="enlace">
                            <div class="busquedaDiv shadow-sm shadowHover">
                                {% if restaurante.imagen%} 
                                    <div class="imagenBusqueda" style="background:url({{restaurante.imagen.url}}) no-repeat; background-size: cover; background-position: center !important;"></div>
                                {% endif %}
                                <div class="cuerpoBusqueda p-3">
                                    <h1>{{restaurante.nombre}}</h1>
                                    <h2 class="mt-1">{{restaurante.ciudad}}, {{restaurante.provincia}} <small>({{restaurante.pais}})</small></h2>
                                </div>
                                <div class="w-100 float-left px-3 pb-1">
                                    {% for menu in menus %} 
                                        {% if menu.user == restaurante.user %}
                                            <div class="col-12 p-0 mt-2 mb-1 bg-light  divMenu shadowHover">
                                                <div class="tituloMenu p-3">{{menu.nombre}}</div>
                                                <a class="botonesMenu1 bg-primary" data-toggle="modal" data-target="#qrcode_{{menu.id}}">
                                                    <span class="icon-qrcode"></span>
                                                </a>
                                                <a class="botonesMenu1 enlace" href="{{menu.pdf.url}}" download="">
                                                    <span class="icon-cloud-download"></span>
                                                </a>
                                            </div>
                                            <!-- Modal -->
                                            <div class="modal fade" id="qrcode_{{menu.id}}" tabindex="-1" role="dialog" aria-labelledby="eliminar_{{menu.id}}" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content p-md-5 p-4">
                                                        <img src="{{menu.qr.url}}" alt="Código QR" class="w-100">
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    </div>
                {% empty %}
                    <div class="col-12 px-md-5 p-3 text-center"> 
                        <img class="imagenNoResultados" src="{% static 'public/img/donuts.png'%}" alt="Donuuuuuuts">
                    </div>
                    <div class="col-12 p-3 text-center"> 
                        No hay resultados 😭
                    </div>
                {% endfor %}

			</div>
		</div>
	</div>
{% endblock %}