{% extends "public/base.html" %}
{% load static %}

{% block title %}
    Menús de pizzeria capichi
{% endblock %}

{% block content %} 


<style>
    body{
        background-color: #f4f7f8
    }
</style>

<div style="width: 100%; margin-top: 70px">
    {% if restaurante.imagen%} 
        <div class="portadaLocal" id="bluh"  style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 100%), url({{restaurante.imagen.url}}) no-repeat;background-size: cover; background-position: center !important;">
    {% else %}
        <div class="portadaLocal" id="bluh"  style="background: #424242">        
    {% endif %}
        <div class="contenedor p-3">
            <p class="tituloLocal">
                {{restaurante.nombre}}
            </p>
        </div>
    </div> 



    <div class="contenedor px-3 pb-5">
        <div class="row m-0">

            <div class="col-md-8 p-0 pr-md-4">
                <div class="row m-0 ">
                    <!-- 
                        menus 
                    -->
                    <div class="col-12 bg-white shadow-sm rounded p-md-4 p-3 mt-4">
                        <div class="row m-0">
                            <div class="col-12 px-0 mb-3 border-bottom pb-3">
                                <div class="tituloMenuLocal">
                                    Menús disponibles
                                </div>   
                            </div>
                            {% for menu in menus %}
                                <div class="col-12 p-0 mt-2 mb-1 bg-light  divMenu shadowHover">
                                    <div class="tituloMenu p-3">{{menu.nombre}}</div>
                                    <a class="botonesMenu1 enlace" href="{{menu.pdf.url}}" download="">
                                        <span class="icon-cloud-download"></span>
                                    </a>
                                </div>
                            {% empty %}
                                <div class="col-md-6 offset-md-3 p-0 text-center">
                                    <p> Vaya, aun no hay menús</p>
                                    <img src="{% static 'public/img/espera.png'%}" alt="No seas vagooo" class="w-100">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- 
                        datos 
                    -->
                    <div class="col-md-6 p-0 mt-4">
                        <form method="post" action="{% url 'modificarDatosPublicos' %}">{% csrf_token %}
                            <div class="row m-0 ">
                                <div class="col-12 p-0  bg-white shadow-sm rounded p-4">
                                    <div class="tituloSecundarioLocal mb-3 pb-3 border-bottom">
                                        Datos
                                    </div> 
                                    <small class="text-muted">Nombre del local</small>
                                    <p>{{ restaurante.nombre }} </p>
                                    <small class="text-muted">Teléfono</small>
                                    <p>{{ restaurante.telefono }} </p>
                                    <small class="text-muted">Correo electrónico</small>
                                    <p class="mb-0">{{ usuario.email }} </p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- 
                        dirección 
                    -->
                    <div class="col-md-6 p-0 pl-md-4 mt-4">
                        <div class="row m-0 ">
                            <div class="col-12 p-0  bg-white shadow-sm rounded  p-4 ">
                                <div class="tituloSecundarioLocal mb-3 pb-3 border-bottom">
                                    Dirección
                                </div> 
                                <small class="text-muted">Dirección</small>
                                <p>{{ restaurante.direccion }}</p>
                                <small class="text-muted">Ciudad</small>
                                <p>{{ restaurante.ciudad }}</p>
                                <small class="text-muted">Provincia</small>
                                <p>{{ restaurante.provincia }}</p>
                                <small class="text-muted">Pais</small>
                                <p class="mb-0">{{ restaurante.pais }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- 
                horario 
            --> 
            <div class="col-md-4 p-0 mt-4">
                <div class="row m-0">
                    <div class="col-12 p-0  bg-white  shadow-sm rounded p-4">
                        <div class="tituloSecundarioLocal mb-0 pb-3 border-bottom">  
                            Horario
                        </div> 
                        <div class="row m-0">
                            <!-- lunes -->
                            {% if horario.lunes %}
                                <div class="col-12 p-0 mt-3">Lunes: <b class="ml-2">{{horario.lunesOpen}} - {{horario.lunesClose}}</b> </div>
                            {% else %}
                                <div class="col-12 p-0 mt-3">Lunes: <b class="ml-2 text-danger">cerrado</b> </div>
                            {% endif %}
                            <!-- martes -->
                            {% if horario.martes %}
                                <div class="col-12 p-0 mt-2">Martes: <b class="ml-2">{{horario.martesOpen}} - {{horario.martesClose}}</b> </div>
                            {% else %}
                                <div class="col-12 p-0 mt-2">Martes: <b class="ml-2 text-danger">cerrado</b> </div>
                            {% endif %}
                            <!-- miercoles -->
                            {% if horario.miercoles %}
                                <div class="col-12 p-0 mt-2">Miércoles: <b class="ml-2">{{horario.miercolesOpen}} - {{horario.miercolesClose}}</b> </div>
                            {% else %}
                                <div class="col-12 p-0 mt-2">Miércoles: <b class="ml-2 text-danger">cerrado</b> </div>
                            {% endif %}
                            <!-- jueves -->
                            {% if horario.jueves %}
                                <div class="col-12 p-0 mt-2">Jueves: <b class="ml-2">{{horario.juevesOpen}} - {{horario.juevesClose}}</b> </div>
                            {% else %}
                                <div class="col-12 p-0 mt-2">Jueves: <b class="ml-2 text-danger">cerrado</b> </div>
                            {% endif %}
                            <!-- viernes -->
                            {% if horario.viernes %}
                                <div class="col-12 p-0 mt-2">Viernes: <b class="ml-2">{{horario.viernesOpen}} - {{horario.viernesClose}}</b> </div>
                            {% else %}
                                <div class="col-12 p-0 mt-2">Viernes: <b class="ml-2 text-danger">cerrado</b> </div>
                            {% endif %}
                            <!-- Sábado -->
                            {% if horario.sabado %}
                                <div class="col-12 p-0 mt-2">Sábado: <b class="ml-2">{{horario.sabadoOpen}} - {{horario.sabadoClose}}</b> </div>
                            {% else %}
                                <div class="col-12 p-0 mt-2">Sábado: <b class="ml-2 text-danger">cerrado</b> </div>
                            {% endif %}
                            <!-- Domingo -->
                            {% if horario.domingo %}
                                <div class="col-12 p-0 mt-2">Domingo: <b class="ml-2">{{horario.domingoOpen}} - {{horario.domingoClose}}</b> </div>
                            {% else %}
                                <div class="col-12 p-0 mt-2">Domingo: <b class="ml-2 text-danger">cerrado</b> </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}