{% extends "public/base.html" %}
{% load static %}

{% block title %}
   Crea una cuenta para tu restaurante
{% endblock %}

{% block content %} 
   	<div class="bg-white" style="width: 100%; margin-top: 70px">
		<div class="contenedor">
			<form method="post">{% csrf_token %}
                <div class="row m-0 py-md-5 p-3">
                    <div class="col-md-8 p-0 offset-md-2">
                        <div class="row m-0 singupDiv">
                            <div class="col-md-12 p-0 border-bottom mb-4 pb-4">
                                <p class="tituloResultado mb-0">
                                    Registra tu establecimiento gratis
                                </p>
                            </div>

                            <div class="col-12 p-0">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if form.username.errors %}
                                    <div class="alert alert-error">
                                        {{form.username.errors}}
                                    </div>
                                {% endif %}
                                {% if form.email.errors %}
                                    <div class="alert alert-error">
                                        {{form.email.errors}}
                                    </div>
                                {% endif %}
                                {% if form.password1.errors %}
                                    <div class="alert alert-error">
                                        {{form.password1.errors}}
                                    </div>
                                {% endif %}
                                 {% if form.password2.errors %}
                                    <div class="alert alert-error">
                                        {{form.password2.errors}}
                                    </div>
                                {% endif %}
                            </div>

                
                            <div class="col-md-6 rounded pr-md-3 p-0 mb-3">
                                <label for="username" class="mb-0">
                                    Nombre de usuario
                                    <small style="font-size: 10px" class="mb-0">(No se permiten espacios)</small>
                                </label>
                                <input type="text" required name="username"value="{%if form.username.value%} {{form.username.value}} {%endif%}" class="form-control" >
                            </div>
                            <div class="col-md-6 rounded pl-md-3 p-0 mb-3">
                                <label for="nombre" class="mb-0">Nombre del Establecimiento</label>
                                <input type="text" required name="nombre"class="form-control" value="{{nombre}}" >
                            </div>
                            <div class="col-md-6 rounded pr-md-3 p-0 mb-3">
                                <label for="telefono" class="mb-0">Teléfono</label>
                                <input type="number" required name="telefono" value="{{telefono}}" class="form-control">
                            </div>
                            <div class="col-md-6 rounded pl-md-3 p-0 mb-3">
                                <label for="email" class="mb-0">Email</label>
                                <input type="Email" required name="email"class="form-control" value="{%if form.email.value%} {{form.email.value}} {%endif%}">
                            </div>
                            <div class="col-md-6 rounded pr-md-3 p-0 mb-3">
                                {{form.password1.errors}}
                                <label for="password1" class="mb-0">Contraseña</label>
                                <input type="password" required name="password1" class="form-control" value="{%if form.password1.value%} {{form.password1.value}} {%endif%}">
                            </div>
                            <div class="col-md-6 rounded pl-md-3 p-0 mb-3">
                                <label for="password2" class="mb-0">Contraseña (confirmación)</label>
                                <input type="password" required name="password2"class="form-control">
                            </div>
                            <div class="col-12  mb-3 mt-1 text-right px-0 border-bottom mb-4 pb-4">
                                Aceptar <a href="{% url 'terminos' %}">términos y condiciones</a>
                                <input type="checkbox" required  name="" required>
                            </div>
                            <div class="col-12 px-0  text-right">
                                <button class="btn px-4 py-3 btn-primary" type="submit" style="border-radius:30px">
                                    Registrar mi establecimiento
                                </button>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
		</div>
	</div>
{% endblock %}