/*********++++++++++++++++
BASE 
*************************/

*{
   	font-family: VollKorn,
   	sans-serif;
}

.movil {
    display: none
}

.ordenador {
    display: block
}

.enlace {
    color: inherit;
}

.enlace:hover {
    text-decoration: none;
    color: inherit;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.shadowHover:hover {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25) !important;
    cursor: pointer;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 !important;
}


.alert-error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

@media (max-width: 767px) {
    .movil {
        display: block
    }

    .ordenador {
        display: none
    }
}


/*********++++++++++++++++
NAVEGADOR
*************************/

.navegador{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    z-index: 999;
    background-color: #f4f7f8;
}

.navigation{
    float: right;
    height: 100%;
    width: auto;
}

.navigation a.active{
    background-color: #000;
    border-color: #000;
    border-radius: 30px;
    color: #fff!important;
}

.navigation a.active:hover {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25) !important;
    cursor: pointer;
    
}

.navigation a {
    background-color: transparent;
    border-color: #000;
    border-radius: 30px;
    color: #000 !important;
}

.navigation a:hover {
    background-color: #000;
    border-color: #000;
    border-radius: 30px;
    color: #fff !important;
    cursor: pointer;
}

.logoNav, .logoNav img{
    height: 100%;
    float: left;
    width: auto
}



.menuPalos {
    width: 25px;
    height: 100%;
    padding: 5px 0;
    float: right;
    cursor: pointer;
    margin-right: 0px;
    transition: .5s;
}

.menuPalos.activePadding {
    padding: 5px 0;
    transition: .5s;
}

.menuPalo1 {
    width: 25px;
    height: 2px;
    background: #fff;
    margin-top: 4px;
    float: right;
    transition: all 0.3s;
    position: absolute;
    border-radius: 2px;
}

.menuPalo2 {
    width: 25px;
    height: 2px;
    background: #fff;
    margin-top: 14px;
    transition: all 0.3s;
    position: absolute;
    border-radius: 2px;
}

.menuPalo3 {
    width: 25px;
    height: 2px;
    background: #fff;
    margin-top: 24px;
    float: right;
    transition: all 0.3s;
    position: absolute;
    border-radius: 2px;
}

.menuPalo1.active {
    width: 25px;
    transform: rotate(45deg);
    transition: all 0.3s;
    position: absolute;
    margin-top: 15px;
}

.menuPalo2.active {
    width: 25px !important;
    transform: rotate(-45deg);
    transition: all 0.3s;
    position: absolute;
    margin-top: 15px;
}

.menuPalo3.active {
    width: 25px !important;
    transform: rotate(-45deg);
    transition: all 0.3s;
    position: absolute;
    margin-top: 15px;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: calc(100vh);
    top: 0px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 998;
    opacity: 1;
}

.overlay.active{
    display: block;
}

.overlay2 {
    display: none;
    position: fixed;
    width: 100%;
    height: calc(100vh);
    top: 0px;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 1;
}

.overlay2.active {
    display: block;
}


@media (max-width: 767px) {
    .navegador{
        background-color:#000
    }
    .navigation {
        position: fixed;
        height: 0;
        width: 100%;
        overflow: hidden;
        top: 70px;
        left: 0;
        z-index: 999;
        background-color: #000;
        padding:0;
        transition: all .5s;
    }
    .navigation.active {
        height: 130px;
        transition: all .5s;
    }

    .navigation a.active {
        background-color: #fff;
        border-color: #fff;
        border-radius: 30px;
        color: #000 !important;
    }

    .navigation a {
        background-color: transparent;
        border-color: #fff;
        border-radius: 30px;
        color: #fff !important;
        font-size: 12px;
        padding: 10px 25px;
        margin: 15px 15px 0 15px;
        width: calc(100% - 30px);
    }

    .navigation a:hover {
        background-color: #fff;
        border-color: #fff;
        border-radius: 30px;
        color: #000 !important;
        cursor: pointer;
    }

}

/*********++++++++++++++++
BUSCADOR INICIO
*************************/

.buscadorDiv{
    height: auto;
    width: 320px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: calc(70px + 5em);
    margin-left: 5em;
    position: relative;
    z-index: 990;
    float: left;
}

.tituloBuscador{
    font-family: Cormorant Garamond,
    sans-serif;
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 35px;
}

.buscadorDiv label{
    font-family: Cormorant Garamond,
    sans-serif;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 0;
}


.buscadorDiv small {
    transition: .3s;
}

.buscadorDiv small:hover{
    cursor: pointer;
    color: #007bff;
    transition: .3s;
    font-size: 14px
}

.disenoDiv{
    width: calc(100% - 320px - 10em);
    float: left;
    margin-left: 3em;
    margin-top: calc(70px + 5em);
}

.disenoDiv h1{
    font-family: Cormorant Garamond,
    sans-serif;
    font-size: 5.5vw;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 5.5vw;
}


@media (max-width: 767px) {
    .buscadorDiv {
        height: auto;
        width: calc(100% - 2em);
        background-color: #fff;
        border-radius: 10px;
        margin: 85px 1em 0 1rem;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    .disenoDiv {
        width: calc(100% - 4em);
        float: left;
        margin: 3em 2em;
    }

    .disenoDiv h1 {
        font-family: Cormorant Garamond,
            sans-serif;
        font-size: 45px;
        font-weight: 600;
        margin-bottom: 0;
        line-height: 50px;
    }

}




/*********++++++++++++++++
LOGIN
*************************/



.lateralDiv{
    max-width: 900px;
    width: 100%;
    right: -100vw;
    position: fixed;
    top: 0;
    height: 100vh;
    transition: .5s;
    background-color: #fff;
    z-index: 1001;
    overflow-y: scroll;
}

.lateralDiv.active{
    right: 0;
    transition: .5s;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}


@media (max-width: 767px) {
    .lateralDiv {
        width: 100%;
    }

    .lateralDiv.active {
        box-shadow: 0;
    }

}


/*********++++++++++++++++
BUSCADOR
*************************/



.formularioContacto {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    color: #19110b;
    height: 3rem;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: .4px;
    transition: border .3s cubic-bezier(0.39, 0.575, 0.565, 1);
    padding: 0 1rem;
    line-height: 3rem;
    width: 100%;
}


.busquedaMotorCampo {
    width: calc(50% - 60px - 10px);
    margin-right: 10px;
    height: 56px !important;
    padding: 10px 1rem;
}

.tituloResultado{
    font-family: Cormorant Garamond,
    sans-serif;
    font-size:40px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 50px;
}

.tituloResultado small{
    font-family: Cormorant Garamond,
        sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 20px;
}


.busquedaDiv{
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
    float: left;
}

.imagenBusqueda{
    height: 200px;
    width: 100%;
    float: left;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cuerpoBusqueda{
    width: 100%;
    float: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.cuerpoBusqueda h1{
    font-family: Cormorant Garamond,
    sans-serif;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 30px;
    color: #000;
}

.cuerpoBusqueda h2 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 20px;
    color: #c0c0c0;
}

.cuerpoBusqueda h2 small{
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0;
    line-height: 15px;
    color: #c0c0c0;
}

.divBuscador{
    border-radius: 100px;
}

.botonBuscar{
    border-radius: 30px;
}


.imagenNoResultados{
    width: 40%;
}
@media (max-width: 767px) {
    .busquedaMotorCampo {
        width: calc(50% - 28px - 5px);
        margin-right: 5px;
        height: 40px !important;
    }
    .tituloResultado {
        font-size: 25px;
        line-height: 30px;
    }
    .divBuscador {
        border-radius: 5px;
    }
    .botonBuscar {
        border-radius: 5px;
    }
    .imagenNoResultados {
        width: 100%;
    }
}



/*********++++++++++++++++
LOCAL
*************************/


.portadaLocal {
    width: 100%;
    height: 200px;
    margin-top: 60px;
    position: relative;
}

.tituloLocal {
    font-size: 50px;
    color: #fff;
    position: absolute;
    bottom: 0;
    font-weight: 800;
    line-height: 1;
}

.tituloMenuLocal{
    font-family: Cormorant Garamond,
    sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 35px;
    color: #000;
}

.tituloSecundarioLocal {
    font-family: Cormorant Garamond,
        sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 25px;
    color: #000;
}

.divMenu{
    border-radius: 30px;
    height: 56px;
}

.tituloMenu{
    font-family: Cormorant Garamond,
    sans-serif;
    width: calc(100% - 52px);
    float: left;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



@media (max-width: 767px) {
    .portadaLocal {
        width: 100%;
        height: 200px;
        margin-top: 50px;
    }

    .tituloLocal {
        font-size: 25px;
        color: #fff;
        position: absolute;
        bottom: 0;
        font-weight: 600;
        line-height: 1;
    }

    .tituloMenuLocal {
        font-size: 25px;
    }

    .tituloMenu {
        font-family: Cormorant Garamond,
            sans-serif;
        width: calc(100% - 45px);
        float: left;
        font-weight: 600;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}



/*********++++++++++++++++
ALTA
*************************/



.registro h1 {
    font-family: Cormorant Garamond,
        sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 35px;
}


.registro h2 {
    font-family: Cormorant Garamond,
        sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 35px;
}

.registro h3 {
    font-family: Cormorant Garamond,
        sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 25px;
}


@media (max-width: 767px) {
    .registro h1 {
        font-size: 25px;
        line-height: 30px;
    }

    .registro h2 {
        font-size: 20px;
        line-height: 25px;
    }

    .registro h3 {
        font-size: 15px;
        line-height: 20px;
    }

}



/*********++++++++++++++++
MANAGER
*************************/

.botonesMenu1 {
    width: 48px;
    float: left;
    height: 48px;
    background: #000;
    border-radius: 50%;
    text-align: center;
    color: #fff !important;
    font-size: 16px;
    padding: 15px;
    margin: 4px 4px 4px 0;
}


.tituloMenu2 {
    font-family: Cormorant Garamond,
        sans-serif;
    width: calc(100% - 156px);
    float: left;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.inputLocal{
    width: 100%;
    padding: 6px;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
}



.radio p {
    font-size: 14px;
}

.radio label {
    display: inline-block;
    cursor: pointer;
    color: #007bff;
    position: relative;
    padding: 5px 10px 5px 27px;
    font-size: 12px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #007bff1c;
    margin-bottom: 0;
}

.radio label:hover {
    background: #007bff59;
}

.radio label:before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    position: absolute;
    left: 10px;
    border-radius: 50%;
    background: none;
    margin-top: 3px;
    border: 1px solid #007bff;
}

.radio input[type="radio"] {
    display: none;
}

.radio input[type="radio"]:checked+label:before {
    display: none;
}

.radio input[type="radio"]:checked+label {
    padding: 5px 15px;
    background: #007bff;
    border-radius: 2px;
    color: #fff;
}

.singupDiv input.form-control {
    height: 50px!important;
}

@media (max-width: 767px) {

    .botonesMenu1 {
        width: 38px;
        float: left;
        height: 38px;
        background: #000;
        border-radius: 50%;
        text-align: center;
        color: #fff !important;
        font-size: 12px;
        padding: 12px;
        margin: 9px 4px 9px 0;
    }


    .tituloMenu2 {
        font-family: Cormorant Garamond,
            sans-serif;
        width: calc(100% - 126px);
        float: left;
        font-weight: 600;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }


}





/* style 5 */

.inputfile-5+label {
    color: #007bff;
}

.inputfile-5:focus+label,
.inputfile-5.has-focus+label,
.inputfile-5+label:hover {
    color: #0b63c0;
}

.inputfile-5+label figure {
    width: 100px;
    height: 135px;
    background-color: #007bff;
    display: block;
    position: relative;
    padding: 30px; 
    margin: 0 auto 10px;
}

.inputfile-5:focus+label figure,
.inputfile-5.has-focus+label figure,
.inputfile-5+label:hover figure {
    background-color: #094a91;
}

.inputfile-5+label figure::before,
.inputfile-5+label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5+label figure::before {
    border-top: 20px solid #deedfd;
    border-left: 20px solid transparent;
}

.inputfile-5+label figure::after {
    border-bottom: 20px solid #094a91;
    border-right: 20px solid transparent;
}

.inputfile-5:focus+label figure::after,
.inputfile-5.has-focus+label figure::after,
.inputfile-5+label:hover figure::after {
    border-bottom-color: #007bff;
}

.inputfile-5+label svg {
    width: 100%;
    height: 100%;
    fill: #c1dcf8;
}



.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 30px 30px 20px;
    /* 10px 20px */
    background: #f9f9f9;
    border-radius: 10px;
}

.no-js .inputfile+label {
    display: none; 
}

.inputfile:focus+label,
.inputfile.has-focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}


.inputCambiarFondo{
    height: 40px;
    width: 40px;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
}

.inputCambiarFondo input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    top: 0;
    left: 0;
}

.inputCambiarFondo a{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    padding: 7px 0;

}

.botonNuevaImagen{
    position: absolute;
    top: 10px;
    left: 55px;
    border-radius: 25px;
    display: none;
    height: 40px;
}

.botonNuevaImagen.show {
    display: block;
}


@media (max-width: 767px) {
    .botonNuevaImagen {
        top: 5px;
        left: 50px;
        font-size: 13px;
    }

    .inputCambiarFondo{
        top: 5px;
        left: 5px;
    }
}






.overlayCompletar {
    display: block;
    position: fixed;
    width: 100%;
    height: calc(100vh);
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1200;
    opacity: 1;
}

.completarPerfil{
    height: calc(100vh - 100px);
    width: 767px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
}

.pasosCompletar{
    display: none;
    width: 100%;
    height: calc(100% - 70px);
    float: left;
    overflow-y: scroll;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.pasosCompletar.active{
    display: block;
}

.controladorCompletar {
    width: 100%;
    height: calc(70px);
    float: left;
    background: #f2f2f2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.centerAlign{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}

.rightAlign {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: auto;
}


.pasoBoton{
    height: 10px;
    width: 10px;
    float: left;
    margin: 10px 5px 0;
    background-color: #000;
    opacity: .3;
    border-radius: 50%;
    transition: .5s;
}

.pasoBoton.active {
    height: 20px;
    width: 20px;
    opacity: 1;
    margin: 0px 5px ;
    transition: .5s;
}

.alertaImagen{
    position: absolute;
    right: 10px;
    width: 300px;
    bottom: 10px;
}

.alertaImagen.show{
    display: none;
}

@media (max-width: 767px) {
    .completarPerfil {
        height: calc(100vh);
        width: 100%;
        margin: 0;
        background-color: #fff;
        border-radius: 0;
    }

    .controladorCompletar {
        width: 100%;
        height: calc(70px);
        float: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        bottom: 0;
        left: 0;
        position: fixed;
    }

    .alertaImagen {
        position: absolute;
        right: 5px;
        width: 250px;
        top: 5px;
        bottom: auto;
        height: auto;
        font-size: 12px;
    }
}
