{% extends "public/base.html" %}
{% load static %}

{% block title %}
    Manager de {{ restaurante.nombre}}
{% endblock %}

{% block content %} 
<style>
    body{
        background-color: #f4f7f8
    }
</style>

    {% if not restaurante.is_complete %}
        {% include 'manager/completar.html'%}
    {% endif %}

   	<div style="width: 100%; margin-top: 70px">
        {% if restaurante.imagen%} 
            <div class="portadaLocal" id="bluh"  style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 100%), url({{restaurante.imagen.url}}) no-repeat;background-size: cover; background-position: center !important;">
        {% else %}
            <div class="portadaLocal" id="bluh"  style="background: #424242"> 
            <div class="alert alert-warning alertaImagen mb-0" role="alert">
                😭 Vaya, al parecer no tienes una imagen de perfil, deberías subir una para que tus clientes te reconozcan mejor.
            </div>            
        {% endif %}
                
        <form method="post" enctype="multipart/form-data" action="{% url 'modificarImagen' %}">{% csrf_token %}
            <div class="contenedor p-3">
                <p class="tituloLocal">
                    {{restaurante.nombre}}
                </p>
                <label class="inputCambiarFondo">
                    <input  type="file" name="imagen" required accept="image/*" class="clearablefileinput shadowHover" id="id_imagen" value="{% if restaurante.imagen%} {{restaurante.imagen}} {% endif %} ">
                    <a class="btn btn-primary mr-2 shadowHover" role="button" href="#">
                        <span class="icon-camera"></span>
                    </a>
                </label>
                <button class="btn btn-primary botonNuevaImagen shadow py-2 px-3" type="submit">Guardar cambios</button>
            </div>
        </form>
        </div> 



		<div class="contenedor px-3 pb-5">
            <div class="row m-0">
                <div class="col-12 p-0">
                    {% if restaurante.is_complete %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert mb-0 mt-4 alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>


                <div class="col-md-8 p-0 pr-md-4">
                    <div class="row m-0 ">
                        <div class="col-12 bg-white shadow-sm rounded p-md-4 p-3 mt-4">
                            <div class="row m-0">
                                <div class="col-12 px-0 mb-3 border-bottom pb-3">
                                    <div class="tituloMenuLocal">
                                        Menús disponibles
                                    </div>   
                                </div>
                                {% for menu in menus %} 
                                    <div class="col-12 p-0 mt-2 mb-1 bg-light  divMenu shadowHover">
                                        <div class="tituloMenu2 p-3">{{menu.nombre}}</div>
                                        <a class="botonesMenu1 bg-danger" data-toggle="modal" data-target="#eliminar_{{menu.id}}">
                                            <span class="icon-bin2"></span>
                                        </a>
                                        <a class="botonesMenu1 bg-primary" data-toggle="modal" data-target="#qrcode_{{menu.id}}">
                                            <span class="icon-qrcode"></span>
                                        </a>
                                        <a class="botonesMenu1 enlace" href="{{menu.pdf.url}}" download="">
                                            <span class="icon-cloud-download"></span>
                                        </a>
                                    </div> 
                                    <!-- Modal -->
                                    <div class="modal fade" id="eliminar_{{menu.id}}" tabindex="-1" role="dialog" aria-labelledby="eliminar_{{menu.id}}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content p-5">  
                                                    <div class="row m-0">
                                                        <div class="col-12 p-0 text-center">
                                                            ¿Estás seguro de eliminar este menú?
                                                        </div>
                                                        <div class="col-12 p-0 text-center mt-3">
                                                            <button type="button" class="btn btn-sm btn-success" data-dismiss="modal" aria-label="Close">
                                                                Cancelar
                                                            </button>
                                                            <a role="button" href="{% url 'eliminarMenu' menu.id %}" class="btn btn-sm btn-danger">
                                                                Eliminar
                                                            </a>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="qrcode_{{menu.id}}" tabindex="-1" role="dialog" aria-labelledby="eliminar_{{menu.id}}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content p-md-5 p-4">
                                                <img src="{{menu.qr.url}}" alt="Código QR" class="w-100">
                                                <a class="btn btn-sm px-3 py-3 btn-primary text-white shadowHover" href="{{menu.qr.url}}" download="" role="button" style="border-radius:30px">
                                                    Descargar
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <div class="col-md-6 offset-md-3 p-0 text-center">
                                        <p> ¿A qué esperas?, sube tu menú y compartelo con los códigos QR. Luchemos contra el COVID-19</p>
                                        <img src="{% static 'public/img/espera.png'%}" alt="No seas vagooo" class="w-100">
                                    </div>
                                {% endfor %}


                                <div class="col-12 p-0 mt-3 pt-3 border-top text-center">
                                    <a class="btn btn-sm px-4 py-3 btn-transparent shadowHover" role="button" id="activeCrearMenu" style="border-radius:30px">
                                        <span class="icon-plus mr-2"></span> Añadir nuevo menú
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 p-0 mt-4">
                            <form method="post" action="{% url 'modificarDatosPublicos' %}">{% csrf_token %}
                                <div class="row m-0 ">
                                    <div class="col-12 p-0  bg-white shadow-sm rounded p-4">
                                        <div class="tituloSecundarioLocal mb-3 pb-3 border-bottom">
                                            Datos públicos
                                        </div> 
                                        <small class="text-muted">Nombre del local</small>
                                        <input type="text" class="inputLocal mb-3" required name="nombre" value="{{ restaurante.nombre }}">
                                        <small class="text-muted">Teléfono</small>
                                        <input type="number" class="inputLocal mb-3" required name="telefono" value="{{ restaurante.telefono }}">
                                        <small class="text-muted">Correo electrónico</small>
                                        <input type="email" class="inputLocal" required name="email" value="{{ user.email }}">
                                        <button class="btn btn-sm btn-primary py-2 px-3 mt-3 float-right" style="border-radius: 25px" type="submit">Guardar cambios</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 p-0 pl-md-4 mt-4">
                            <form method="post" action="{% url 'modificarDireccion' %}">{% csrf_token %}
                                <div class="row m-0 ">
                                    <div class="col-12 p-0  bg-white shadow-sm rounded  p-4 ">
                                        <div class="tituloSecundarioLocal mb-3 pb-3 border-bottom">
                                            Dirección
                                        </div> 
                                        <p class="mb-0">
                                            <small class="text-muted">Dirección</small>
                                            <input type="text" class="inputLocal mb-3" required name="direccion" value="{{ restaurante.direccion }}">
                                            <small class="text-muted">Ciudad</small>
                                            <input type="text" class="inputLocal mb-3" required name="ciudad" value="{{ restaurante.ciudad }}">
                                             <small class="text-muted">Provincia</small>
                                            <input type="text" class="inputLocal mb-3" required name="provincia" value="{{ restaurante.provincia }}">
                                            <small class="text-muted">Pais</small>
                                            <input type="text" class="inputLocal" required name="pais" value="{{ restaurante.pais }}">
                                            <button class="btn btn-sm btn-primary py-2 px-3 mt-3 float-right" type="submit"style="border-radius: 25px">Guardar cambios</button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 

                <div class="col-md-4 p-0">
                    <div class="row m-0">
                        <div class="col-12 p-0  bg-white  shadow-sm rounded p-4 mt-4">
                            <div class="tituloSecundarioLocal mb-0 pb-3 border-bottom">  
                                Horario
                            </div> 
                            <form method="post" action="{% url 'modificarHorario' %}">{% csrf_token %}
                                <div class="row m-0">
                                    {% include 'manager/horario.html' %} 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
{% endblock %}